// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.btn-export-excel,
.btn-import-excel  {
     width:30%;
     margin: 5px;
 }

 .input-group-excel {
    margin-left: 5px;
 }
