//
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


html, body {
    /* background-color: #fff; */
    /* background-color: yellow !important; */
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
  }

  .full-height {
    height: 56vh;
  }

  .flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .position-ref {
    position: relative;
  }

  .top-right {
    position: absolute;
    right: 10px;
    top: 18px;
  }

  .content {
    text-align: center;
  }

  .title {
    font-size: 84px;
  }

  .links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
  }

  .m-b-md {
    margin-bottom: 30px;
  }

  .tdn-classroom-01 {
    color: black;
    font-weight: 600;
    padding-bottom: 50px;
  }

  input[type="text"]#input-url {
    width: 80%;
  }

  input[type="submit"]#input-url-submit {
    margin-top: 15px;
  }

  span.url-result {
      font-size: 24px;
  }

  .url-title-level-3 {
      font-size: 18px;
  }
